<h3> Froggy time! </h3>

<p> A lot of frogs, for your family and friends to have fun with </p>

<div id='home_page_image'>
  <img src='https://svgsilh.com/svg/48498-4caf50.svg'>
</div>

<%= link_to 'Frog Gallery', frogs_path %>
<%= link_to 'Create Frogs', new_frog_path %>