<h3> Froggy time! </h3>

<p>
  Somente apenas sapos, de todos os tipos, cores e tamanhos 
  para sua família
</p>

<div id='image_main'>
  <img src='https://svgsilh.com/svg/48498-4caf50.svg'>
</div>

<%= link_to 'Frog Gallery', frogs_path %>