<h3> Froggy time! </h3>

<p> <%= t('.title') %> </p>

<div id='home_index_image'>
  <img src='https://svgsilh.com/svg/48498-4caf50.svg'>
</div>

<%= link_to t('.gallery'), frogs_path %>
<%= link_to t('.create'), new_frog_path %>