<% if @frogs.empty? %>
  <span> There are no frogs yet </span>

<% else %>
  <% @frogs.each do |frog| %>
    <div class='frog'>
      <h3> <%= frog.name %> </h3>
      <span> <%= frog.scientific_name %> </span>
      <span> <%= frog.age %> years </span>

      <span> 
      Is this frog on sale?
      <%= frog.on_sale? ? 'Yes' : 'No' %> 
      </span>

    </div>
    <% end %>
<% end %>